.outrun {
  background: #070829;
  background: linear-gradient(#070829 0%, #05092b 24%, #08092b 25%, #08092d 30%, #050a2b 32%, #070a2e 35%, #080e31 56%, #090f35 62%, #080f32 63%, #0b1036 64%, #0b0f36 69%, #0a1237 70%, #091136 73%, #0b173f 100%);
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  left: 0;
  top: 0;
  background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.3) 0, transparent 1px, transparent 2px, rgba(0, 0, 0, 0.3) 3px);
  pointer-events: none;
}
.sun {
  position: absolute;
width: calc(50%);
  left: calc(50%);
  max-height: calc(50%);
  top: 15%;
  text-align: center;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.belowSun {
  position: absolute;
  bottom: 10%;
}
.header {
  font-size: 75px;
  font-weight: bold;
  color: #FF073A;
  text-align: center;
  z-index: 9999;
}
.audiowide {
  font-family: 'Audiowide', cursive;
}
.terminal {
  font-size: 65px;
  color: #f9c80e;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.resume {
  font-size: 40px;
  color: #F9C80E;
  text-align: left;
  padding: 20px;
  z-index: 9999;
}
.binary {
  color: #FF6C11
}

.projectImage {
  height: 70vh;
  float: left;
  padding: 30px;
  display: inline-block;
}
.projectImageHorizontal {
  max-width:90%;
  float: top ;
  padding: 30px;
}
.projectDescription {
  font-size: 35px;
  color: #F9C80E;
  text-align: left;
  padding: 20px;
}
.projectDescription ul {
  display: inline-block;
}

.projectDescription li {
  display: list-item;
}
.email {
  display: list-item;
  padding-left: 20px;
  text-align: left;

}
.glow
{

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.glow a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.section {
  text-align:center;
}
#callbacks-placeholder{
  position:fixed;top:50px;left:50px;color:black;z-index:999;
}


/* Terminal */


.control span{
  cursor: pointer;
}

.hidden{
  visibility: hidden;
}

/* Table */
.outrun-table {
  width: 100%;
  top: 40%;
  overflow-x: auto;
  text-align: left;
  white-space: pre-wrap;
  color: #fff;
}
.outrun-table-th {
  color: #FF6C11;
  text-align: center;
  border-color: #9ecaed;
  word-wrap: break-word;
}
.outrun-table-tr {
  color: #fff;
  text-align: center;
  border-color: #9ecaed;
  word-wrap: break-word;
}
.outrun-table a {
  color: #fff;
  text-decoration: none;
}
.outrun-table a:hover {
  text-decoration: none;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.outrun-table-message{
  visibility: hidden;
}
