/* Default rules */
@media screen {
  .header {
    font-size: calc(5vh);
  }

  .resume {
    /* Take average value height/width to get best sizing */
    font-size: calc((2vh + 2vw)/2);

  }

  .terminal {
    /* Take average value height/width to get best sizing */
    font-size: calc((3.5vh + 3.5vw)/2);
  }
  .projectImage {
    max-height: 40vh;
  }

  .projectDescription {
    /* Take average value height/width to get best sizing */
    font-size: calc((2vh + 2vw)/2);
  }

  #menu {
    height: 60px;
    font-size: calc(2.5vw);
  }

  #menu li.active a {
    padding: 0px 0px;
  }
}
