/* Default rules */
@media screen and (min-width: 2000px) {
  .header {
    font-size: 75px;
  }

  .resume {
    font-size: 45px;

  }

  .terminal {
    font-size: 45px;
  }
  .projectImage {
    height-max: 80vm;
  }

  .projectDescription {
    font-size: 25px;
  }

  #menu {
    height: 40px;
    font-size: 35px;
  }

  #menu li.active a {
    padding: 0px 0px;
  }
}
/* Default rules */
@media screen and (max-width: 2000px) {
  .header {
    font-size: 75px;
  }

  .resume {
    font-size: 35px;

  }

  .terminal {
    font-size: 35px;
  }
  .projectImage {
    height-max: 80vm;
  }

  .projectDescription {
    font-size: 35px;
  }

  #menu {
    height: 40px;
    font-size: 35px;
  }

  #menu li.active a {
    padding: 0px 0px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    font-size: 55px;
  }

  .resume {
    font-size: 25px;

  }

  .terminal {
    font-size: 25px;
  }
  .projectImage {
    height-max: 80vm;
  }

  .projectDescription {
    font-size: 25px;
  }

  #menu {
    height: 40px;
    font-size: 35px;
  }

  #menu li.active a {
    padding: 9px 0px;
  }
}

@media screen and (max-width: 1000px) {
  #menu {
    height: 40px;
    font-size: 25px;
  }

}

@media screen and (max-width: 900px) {
  .header {
    font-size: 35px;
  }

  .resume {
    font-size: 25px;

  }

  .terminal {
    font-size: 20px;
  }

  .projectDescription {
    font-size: 20px;

  }
  .projectImage {
     height-max: 80vm;
   }

  #menu {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  #menu {
    display: none;
  }

  .terminal {
    font-size: 16px;
  }

  .outrun-table {
display: none;
  }

  .outrun-table-message {
    display: none;
  }
  #menu {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 35px;
  }

  .resume {
    font-size: 25px;

  }

  .terminal {
    font-size: 28px;
  }

  .projectDescription {
    font-size: 20px;

  }

  .section {
  }
  .outrun-table {
    dispaly: none;
  }

  #menu {
    display: none;
  }
}
